@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006472;
  color: white;
  height: 20vh;
  padding: 2em;
  text-transform: uppercase;
}
.header h1 {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  text-align: center;
}
.header img {
  width: 125px;
  height: 100px;
}
.header a {
  padding: 1em;
  background-color: #43D2FF;
  transition: background-color 0.4s;
}
.header a:hover {
  background: #68dcff;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  height: 80vh;
  flex-grow: 1;
}
.content h2 {
  font-size: 24px;
  text-align: center;
  margin: 1em;
}
.content table {
  margin: 1em auto;
  padding: 2em;
  border-spacing: 0;
}
.content table tr th {
  padding: 1em;
}
.content table tr td {
  text-align: center;
  padding: 1em;
  border-top: 1px solid #c7c7c7;
}
.content table tr td a {
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}
.content table tr td a.green {
  background: rgba(0, 128, 0, 0.7);
}
.content table tr td a.blue {
  background: rgba(0, 0, 255, 0.7);
}
.content table tr td a.red {
  background: rgba(255, 0, 0, 0.7);
}
.content form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  background: #006472;
  color: white;
  padding: 2em;
  margin: 2em;
}
.content form .radio {
  display: flex;
  align-items: center;
}
.content form input {
  background: white;
  color: black;
  margin: 1em;
  padding: 1em;
}
.content form button {
  background: #43D2FF;
  padding: 1em;
  margin-top: 2em;
}

.aside {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
  background-color: #006472;
  color: white;
  text-align: center;
  height: 80vh;
}
.aside img,
.aside h2,
.aside a {
  width: 100%;
}
.aside h2,
.aside a {
  padding: 2em 0;
}
.aside h2 {
  background: #43D2FF;
}
.aside a:hover {
  background: #43D2FF;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body .error {
  background: black;
  color: red;
  text-align: center;
}
body main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background: rgba(226, 226, 226, 0.1725490196);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=style.css.map */