{% extends "base.html.twig" %}

{% block title %}Authentification
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}


	<h2>Authentification</h2>

	<form class="auth" action="./auth" method="POST">

		<label for="username">Nom Utilisateur</label>
		<input type="text" name="username" id="username" placeholder="Votre identifiant ici">

		<label for="password">Mot de Passe</label>
		<input type="text" name="password" id="password" placeholder="Votre mot de passe là">

	</form>


{% endblock %}
