{% extends "base.html.twig" %}

{% block title %}Editer Utilisateur
{% endblock %}

{% block auth %}Déconnexion
{% endblock %}

{% block content %}


	<h2>Editer
		{{user.username}}</h2>

	<form class="auth" action="./auth" method="POST">

		<label for="username">Nom Utilisateur</label>
		<input type="text" name="username" id="username" value="{{user.username}}" readonly>

		<label for="budget">Budget</label>
		<input type="text" name="budget" id="budget" value="{{user.budget}}">

		<button>Envoyer</button>
	</form>
{% endblock %}
