{% extends "base.html.twig" %}

{% block title %}Produits
{% endblock %}

{% block content %}

	<section>
		<h2>Produits</h2>

		<table>
			<thead>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for produit in produits %}
					<tr>
						<td>{{ produit.name }}</td>
						<td>{{ produit.quantity }}</td>
						<td>{{ produit.price }}</td>
						<td>
							<a class="green" href="">Acheter</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

	</section>
{% endblock %}
