{% extends "base.html.twig" %}

{% block title %}Utilisateurs
{% endblock %}

{% block content %}

	<section>
		<h2>Utilisateurs</h2>

		<table>
			<thead>
				<tr>
					<th>Nom Utilisateur</th>
					<th>Budget</th>
					<th>Droits Administrateur</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td>{{ user.budget }}</td>
						<td>{{ user.isAdmin }}</td>
						<td>
							<a class="green" href="">Ajouter</a>
							<a class="blue" href="">Editer</a>
							<a class="red" href="">Supprimer</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>


	</section>
{% endblock %}
