@use "../../abstract" as *;

.aside {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 20%;
    background-color: $bluedark;
    color: $white;
    text-align: center;
    height: 80vh;

    img,
    h2,
    a {
        width: 100%;
    }

    h2,
    a {
        padding: 2em 0;
    }

    h2 {
        background: $bluelight;
    }

    a {
        &:hover {
            background: $bluelight;
        }
    }

}