{% extends "base.html.twig" %}

{% block title %}Authentification
{% endblock %}

{% block auth %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}


	<h2>Authentification</h2>

	{% if popup %}
		<span class='done'>{{popup}}</span>
	{% endif %}

	<form class="auth" action="./tryauth" method="POST">

		<label for="username">Nom Utilisateur</label>
		<input type="text" name="username" id="username" placeholder="Votre identifiant ici">

		<label for="password">Mot de Passe</label>
		<input type="password" name="password" id="password" placeholder="Votre mot de passe là">

		<button>Se connecter</button>

	</form>


{% endblock %}
