{% extends "base.html.twig" %}

{% block title %}Utilisateurs
{% endblock %}

{% block content %}


	<h2>Utilisateurs</h2>

	<table>
		<thead>
			<tr>
				<th>Nom Utilisateur</th>
				<th>Budget</th>
				<th>Droits Administrateur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.budget }}</td>
					<td>
						{% if user.isAdmin %}
							<span style='color: green;'>Oui</span>
						{% else %}
							<span style='color: red;'>Non</span>
						{% endif %}
					</td>
					<td>

						<a class="blue" href="./edituser?userid={{user.id}}">Editer budget</a>
					</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>
	<a class="green" href="./newuser">Créer un nouvel Utilisateur</a>

{% endblock %}
